<div class="row">
  <div class="span8 offset2">
<% unless comments.empty? %>
		<h3>
		<% if Group.find(comments.first.group_id).comments.count > comments.size %>
			Last
		<% end %>
		<%= pluralize(comments.size, 'comment') %></h3>
		<div id="comments">
		<% comments.each  do |comment|%>
			<div class="comment" data-time="<%= comment.created_at.to_i %>" >
				<strong><%= comment.title%> </strong>
				<em>on page: <%= comment.page_number %></em>
				<%= simple_format comment.body %>
				<strong>
				<% if User.where(id: comment.user_id).count > 0 %>
					<%= User.find(comment.user_id).login %>
				<% else %>
					An unlucky deleted user
				<% end %>
				</strong> wrote:
				<span class="dateandoptions">
				<em>on <%= comment.created_at.strftime('%b %d, %Y at %I:%M %p')%></em>
				</span>

			</div>
		<% end %>
		</div>
		<% end %>
  </div>
</div>
