<% provide(:title, @group.name) %>
<div class="row">
   <aside class="span4">
    <section>
	<h1>
	  <%= @group.name %>
	</h1>
	<p> <strong>Book:</strong>
	  <%= @group.book_name %>
	  <br/>
	  <b>pages:</b>
	  <%= @group.page_number %>
	</p>

	<p>
  	  <strong>Start date:</strong>
  	  <%= @group.start_date %>
	</p>

	<p>
  	  <strong>End date:</strong>
  	  <%= @group.end_date %>
	</p>
	<p>
	  <strong>milestone:</strong>
	  <%= @group.num_to_read %>/<b><%= @group.page_number %></b>
	</p>
	<p>
	  <% owner = User.find( @group.admin_id) %>
	  <strong> owner:</strong>
	  <%= owner.login %>
	</p>

    </section>
  </aside>

<div class="span6">
<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>
</div>
</div>
<% if signed_in? %>
 <% if current_user.group_ids.include?(@group.id) %>
 <% if @group_users.any? %>
<script type="text/javascript">
var my_fun = function(a)
{
	$('#bookpage').attr( 'value', a);
        $('#myModal').modal('show');
}
</script>
  <div class="row">
   <center><h3>Users</h3><br/></center>
   <%= will_paginate @group_users %>
   <div class="span10 offset1">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th> Username </th>
				<th> Read pages </th>
			</tr>
		</thead>
		
		<tbody>
			
				<tr>
					<td>
						
					</td>
					<td>
						<div id="mainslider" data-toggle="tooltip" data-placement="right" trigger="manual" title="Page: <%= @group.num_to_read%>, due on: <%= @group.end_date%>"></div>
						<script type="text/javascript">
							$('#mainslider').tooltip().eq(0).tooltip('show').tooltip('disable').on('mouseout',function(){ $(this).tooltip('enable');});
							bookSlider('#mainslider', <%= @group.page_number %>, 20, true, <%= @group.num_to_read %>, true, <%= @comment_pages.to_json.html_safe %>, my_fun );
						</script>
					</td>
				</tr>
				<tr>
					<td>
						<%= gravatar_for current_user, size: 52 %>
						<%= link_to current_user.login, current_user %>
					</td>
					<td>
						<% user_group = UserGroup.where(' user_id in (?) and group_id in (?)', current_user.id, @group.id) %>
						<!-- %= link_to user_group[0].num_read, edit_user_group_path(user_group[0]) % -->
						<div id="ug<%= user_group[0].id %>" ></div>
						<script type="text/javascript">
							bookSlider('#ug<%= user_group[0].id %>', <%= @group.page_number %>, 20, true, <%= user_group[0].num_read %>, false, [], my_fun );
						</script>
					</td>
				</tr>	
			<% @group_users.each do |user| %>
			 <% if user.id != current_user.id %>
				<tr>
				 <td>
					<%= gravatar_for user, size: 52 %>
					<%= link_to user.login, user %>
				 </td>
				 <td>
					<% user_group = UserGroup.where(' user_id in (?) and group_id in (?)', user.id, @group.id) %>
					<!-- %= link_to user_group[0].num_read, edit_user_group_path(user_group[0]) % -->
					<div id="ug<%= user_group[0].id %>" ></div>
					<script type="text/javascript">
						bookSlider('#ug<%= user_group[0].id %>', <%= @group.page_number %>, 20, true, <%= user_group[0].num_read %>, false, [], my_fun );
					</script>
				 </td>
				</tr>	
			 <% end %>	
			<% end %>	
		</tbody>
		
	</table>	
   </div>
   <%= will_paginate @group_users%>
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
 <div class="modal-dialog"> 
  <div class="modal-content"> 
   <div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
    <h4 class="modal-title" id="myModalLabel"> Choose an action</h4> 
   </div> 
<%= form_tag :controller => :user_groups, :action => :modal, :method => :post do %>

	<%= hidden_field_tag :user_group_id, user_group[0].id %>
   <div class="modal-body">
	<%= label_tag :bookpage, "page" %>
	<%= number_field_tag :bookpage, "1", class: "form-control", id: "bookpage" %>
	<%= label_tag :todo, "action" %>
	<% if current_user.id == @group.admin_id %>
	 <%= select_tag :todo, options_for_select([["Set your read number of pages","read"],["View comments","comments"],["Set group milestone","milestone"]]) %>
	 <%= label_tag :end_date, "Until" %>
	 <%= select_date Date.today, prefix: :end_date %>
	<% else %>
	 <%= select_tag :todo, options_for_select([["Set your read number of pages","read"],["View comments","comments"]]) %>
	<% end %>
   </div> 
   <div class="modal-footer"> 
    <button type="button" class="btn btn-default" data-dismiss="modal">Close </button> 
    <%= submit_tag "Ok", :name=>nil, class: "form-control btn btn-primary" %>
   </div> 
<% end %>

  </div><!-- /.modal-content --> 
 </div><!-- /.modal -->
</div>


 <% end %>
 

 
  
	
  <% @comment = @group.comments.build %>
  <%= render 'comments/form' %>

  <%= render 'comments/show_comments', comments: @top_comments %>

  <%= link_to 'All comments', group_comments_path(@group), class: "btn btn-info btn-primary" %><br><br>
 <% end %>
  <%= render 'group_controls', group: @group, group_admin: owner %><br><br>
<% end %>


<script type="text/javascript">
/*var due_tip = d3.tip().attr("class",'d3-tip').offset([-10,0]).html(function(d){
	return "<strong style='color:#F09'> Page: </strong> <span style='color:#0F5'> <%= @group.num_to_read %> </span><br>On: <%=@group.end_date %>";
});

var due_grid = d3.select('#duedate').append("svg").attr("width",15).attr("height",15);//d3.select('#mainslider');
due_grid.call(due_tip);
due_tip.show(400);*/

</script>
