<!DOCTYPE html>
<html>
 <head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag("d3.min") %>
  <%= javascript_include_tag("d3.tip.v0.6.3") %>
  <%= javascript_include_tag("bookSlider") %>
  <%= javascript_include_tag 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
 </head>
<body>
  <%= render 'layouts/header' %>
        <div class="container">
	  <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" ><%= value %></div>
          <% end %>
	<%= yield %>	
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
